.list{
	margin: auto; 
    position: fixed;
    bottom: 10px;
    width: 100%;
    margin-top:0px;
    padding-top:10px;
    border-top:solid 1px #333;
    background: url(../resources/bg.gif), url(../resources/endent_up.png);
    background-position: center top;
    background-repeat: no-repeat;
}

#item-container{
    width: 100%;
    overflow: hidden;
    display: inline-block;
}

.item-list{
    display: inline-block;
    -webkit-transition: all 1s ease-in-out 0s;
	float: left;
    padding: 0px;
    margin: 0px;
    width: 25%;
}

.item-list li{
    display: inline-block;
    list-style: none;
    width: 19%;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0px 0px 4px gray;
    margin: 0px 5px 0px 5px;
    border-image: url('../resources/border-image.png') 5 3 5 3 repeat stretch;
}

.food-tab{
    display: inline-block;
    width: 24%;
    text-align: center;    
}

.food-panels{
	-webkit-transition: all 0.4s ease-in-out 0s;
	width: 400%;
	position: relative;
}

/*--- plate ---*/

.delete{
	display: none;
}

.readyToDelete .delete{
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	background-image: url('../resources/no.jpeg');
}

#plate{
	background-image: url("../img/food/plate.png");
	width: 100%;
	height: auto;
	margin: auto;
	background-size:auto;
	background-position: center;
}
 
.meal-type{
	-webkit-transition: all 0.7s ease-in-out 0s;
}

.meal.meal-type{
	-webkit-transform: rotateZ(180deg);
}

#plate li{
	list-style: none;
	width: 100px;
	height: 100px;
	
}

.more .first-list{
	-webkit-transition: all 0.7s ease-in-out 0s;
	margin-top: -60px;
}

.confirm{
	margin: auto;
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out 0s;
	float: right;
	margin-right: 5px;
	position: fixed;
	right: 0px;
	top: 50%;
}

.ready .confirm{
	opacity: 1;
	-webkit-transition: all 0.5s ease-in-out 0.2s;
}

.confirm > div{
	width: 50px;
	height: 50px;
	background-size:100%;
}

.yes{
	background: url(/Users/Gaston/Desktop/sb2/resources/yes.jpeg);
}

.no{
	background: url(/Users/Gaston/Desktop/sb2/resources/no.jpeg);
}

/*--- progress ---*/
#progress{
    position: absolute;
    left: 0px;
    width: 70%;
    box-shadow: inset 0px 0px 8px black;
    height: 112px;
    border-radius: 0px 7px 7px 0px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.progress-container{
	width: 70%;
	border-radius: 0px 3px 3px 0px;
	box-shadow: 1px 1px 5px grey;
	border: 1px solid #333;
	
	padding: 0px;
	margin-bottom: 5px;
	height: 30px;
	display: inline-block;
}

.progress-bar{
	min-width: 15px;
	height: 100%;
	background: green;
	display: inline-block;
	border-right: 1px solid #333;
	border-left: none;
	margin-right: 5px;
	margin: 0px;
}
	
.progress-type{
	display: inline-block;
	float: right;
}
	
/*  Title  */
.title{
	margin: auto;
	width:  100%;
	margin-bottom: 50px;
	text-align: center;
	font-size: xx-large;
	display: inline-block;
	height: 25px;
	width: 100px;
}

.title .breakfast, .title .meal{
    position:absolute;
    -webkit-transition: -webkit-transform 1s , z-index 0s 0.25s;
   	background-color: rgba(255,255,255,1);
    -webkit-transition: -webkit-transform 1s, z-index 0s 0.25s;
	width: 100%;
    
}

.title .breakfast,.title  .rotated  .meal{
  z-index: -2;
  -webkit-transform: rotateX(180deg);   	    
}

.title  .meal,.title  .rotated .breakfast{
    z-index: -1;   
    -webkit-transform: rotateX(0deg);
    
}