.list{
	width: 475px; 
	margin: auto; 
    position: fixed;
    bottom: 10px;
    width: 100%;
}

#item-container{
    width: 100%;
    overflow: hidden;
    display: inline-block;
}

.item-list{
    display: none;
    -webkit-transition: all 1s ease-in-out 0s;

    padding: 0px;
    margin: 0px;
}

.item-list li{
    display: inline-block;
    list-style: none;
    width: 19%;
    height: 89px;
    border: 1px solid gray;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0px 0px 4px gray;
}

.food-tab{
    display: inline-block;
    width: 30%;
    text-align: center;    
}

.food-panels{
	height: 10px;
	-webkit-transition: all 0.4s ease-in-out 0s;
	border-top: 1px solid #333;
}

.open.food-panels{
	-webkit-transition: all 0.4s ease-in-out 0s;
	height: auto;
}
/*--- plate ---*/
#plate{
	background-image: url("../img/food/plate.png");
	width: 350px;
	height: 350px;
	margin: auto;
}
 
.meal-type{
	-webkit-transition: all 0.7s ease-in-out 0s;
}

.meal.meal-type{
	-webkit-transform: rotateZ(180deg);
}

#plate img{
	top: 58px;
	position: absolute;
	left: 103px;
}

#plate li{
	list-style: none;
	width: 100px;
	height: 100px;
	
}

.more .first-list{
	-webkit-transition: all 0.7s ease-in-out 0s;
	margin-top: -60px;
}

/*--- progress ---*/
#progress{
    position: absolute;
    left: 0px;
    width: 70%;
    box-shadow: inset 0px 0px 8px black;
    height: 112px;
    border-radius: 0px 7px 7px 0px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.progress-container{
	width: 72%;
	border-radius: 0px 3px 3px 0px;
	box-shadow: 1px 1px 5px grey;
	border: 1px solid #333;
	
	padding: 0px;
	margin-bottom: 5px;
	height: 30px;
	display: inline-block;
}

.progress-bar{
	min-width: 15px;
	height: 100%;
	background: green;
	display: inline-block;
	border-right: 1px solid #333;
	border-left: none;
	margin-right: 5px;
	margin: 0px;
}
	
.progress-type{
	display: inline-block;
	float: right;
}
	
/*  Title  */
.title{
	margin: auto;
	width:  100px;
	margin-bottom: 50px;
	text-align: center;
	font-size: xx-large;
	display: inline-block;
	height: 25px;
	width: 100px;
}

.title .breakfast, .title .meal{
    position:absolute;
    -webkit-transition: -webkit-transform 1s , z-index 0s 0.25s;
   	background-color: rgba(255,255,255,1);
    -webkit-transition: -webkit-transform 1s, z-index 0s 0.25s;
	width: 100%;
    
}

.title .breakfast,.title  .rotated  .meal{
  z-index: -2;
  -webkit-transform: rotateX(180deg);   	    
}

.title  .meal,.title  .rotated .breakfast{
    z-index: -1;   
    -webkit-transform: rotateX(0deg);
    
}