.list{
	width: 475px; 
	margin: auto; 
    position: fixed;
    bottom: 10px;
    width: 100%;
}

#item-container{
    width: 390px;
    height: 60px;
    overflow: hidden;
    display: inline-block;
}

.item-list{
    display: inline-block;
    width: 1000px;
    -webkit-transition: all 1s ease-in-out 0s;
    margin-top: 7px;
    padding: 0px;
}

.item-list li{
    display: inline-block;
    list-style: none;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}


.arrow{
    width: 30px;
    height: 30px;
    background-size: cover;
    display: inline-block;
	top: 15px;
	border: solid 1px;
	border-radius: 3px;
	}

#left{
    background-image: url("../resources/arrowleft.png");
	left: 5px;}
#right{
    background-image: url("../resources/arrowright.png"); 
	right: 0.9px;}
	
	
/*--- plate ---*/
    #plate{
    	background-image: url("../img/food/plate.png");
    	width: 350px;
    	height: 350px;
    
    	margin: auto;
}
 
    .meal-type{
    	-webkit-transition: all 0.7s ease-in-out 0s;
    }
    
    .meal.meal-type{
    	-webkit-transform: rotateZ(180deg);
    }
	
	#plate img{
		top: 58px;
		position: absolute;
		left: 103px;
	}
	
	#plate li{
		list-style: none;
		width: 100px;
		height: 100px;
		
	}
	
	.more .first-list{
		-webkit-transition: all 0.7s ease-in-out 0s;
		margin-top: -60px;
	}
	
	/*--- progress ---*/
	#progress{
    position: absolute;
    left: 0px;
	}
	.progress-bar{
		min-width: 15px;
		height: 20px;
		background: green;
		border-radius: 0px 3px 3px 0px;
		display: inline-block;
		border: 1px solid #333;
		border-left: none;
		box-shadow: 1px 1px 5px grey;
		margin-right: 5px;
	}
	
	.progress-type{
		display: inline-block;
	}
	
	#lipids{
		
	}
	
	/*  Title  */
	.title{
		margin: auto;
		width:  100px;
		margin-bottom: 50px;
		text-align: center;
		font-size: xx-large;
		display: inline-block;
		height: 25px;
		width: 100px;
	}
	
	.breakfast, .meal{
	    position:absolute;
	    -webkit-transition: -webkit-transform 1s , z-index 0s 0.25s;
	   	background-color: rgba(255,255,255,1);
		width: 100%;
	    
	}
	
	.breakfast, .rotated  .meal{
	  z-index: -2;
	  -webkit-transform: rotateX(180deg);   	    
	}
	
	.meal, .rotated .breakfast{
	    z-index: -1;   
	    -webkit-transform: rotateX(0deg);
	    
	}